* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}
.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  gap: 30px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
button,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  pointer-events: none;
}

.dimm.active {
  opacity: 1;
}

.modal {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}
.modal span {
  font-size: 36px;
}
.modal.active {
  opacity: 1;
  pointer-events: initial;
}
